<div id="<%= dom_id industry %>" class="my-2">
    <strong>Name:</strong>
    <%= industry.name %>


    <strong class="ms-5">Email:</strong>
    <%= industry.email %>


    <strong class="ms-5">Registration number:</strong>
    <%= industry.registration_number %>

    <%= link_to "Show this industry", industry, class:"ms-5" %>
</div>
